
@using Store.Models.EF;

@using PagedList;
@model IPagedList<SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2 class="text-info">Danh Sách Sản Phẩm</h2>
<style>
    a{
        text-decoration:none
    }
</style>
<p>
    <a class="btn btn-primary" href=@Url.Action("Create")>Thêm Sản Phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Loại Sản Phẩm
            </th>
            <th>
                Nhà Cung Cấp
            </th>
            <th>
                Nhà Sản Xuất
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Tên Tắt
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Số Lượng Tồn
            </th>
            <th>
                Trạng Thái
            </th>
            <th>
                Ngày Cập Nhật
            </th>
            <th>
                Sản Phẩm Mới
            </th>



            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoaiSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNSX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    <a href="#" class="btn btn-active" data-id="@item.MaSP">@(item.TrangThai==true? "Đang hiển thị" : "Đã ẩn")</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayCapNhat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moi)
                </td>



                <td>
                    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.MaSP })

                </td>
            </tr>
        </tbody>
    }

</table>

<div class="pagination justify-content-center">
    @Html.PagedListPager(Model, page =>
                               Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>           
<script>
    $(document).ready(function () {
        

        var product = {
            init: function () {
                product.registerEvent();
            },
            registerEvent: function () {
                $('.btn-active').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "/Admin/Product/changeStatus",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            if (response.status == true)
                                btn.text('Đang hiển thị')
                            else
                                btn.text('Đã ẩn')
                        }
                    });
                });
            }
        }
        product.init();
    })
       
</script>  


   
