@model IEnumerable<Store.Models.EF.DonDatHang>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDDH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrangGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiao)
            </th>
            <th>
               Tình Trạng Thanh Toán
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UuDai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HuyDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
            
        </tr>
    </thead>
   
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.MaDDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @(item.TinhTrangGiaoHang==true?"Đã giao":"Chưa giao")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @(item.DaThanhToan==true?"Đã thanh toán":"Chưa thanh toán")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UuDai)
            </td>
            <td>
                @(item.HuyDon==true?"Yêu cầu hủy":"Không")
            </td>
            <td>
                @(item.TrangThai==true?"Đã duyệt":"Chưa Duyệt")
            </td>
            
            <td>
                <a href="@Url.Action("orderDetail", "Payment", new {id=item.MaDDH})" class="btn btn-default">Thêm thông tin</a>
            </td>

            
        </tr>


        }
    </tbody>

</table>
<script>

    $(document).ready(function () {
        var order = {
            init: function () {
                order.registerEvents();
            },
            registerEvents: function () {
                $("#btnAccept").off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this)
                    var id = btn.data('id')
                    $.ajax({
                        url: "/Admin/Payment/accept",
                        data: { id: id },
                        dataType:"json",
                        type: "POST",
                        success: function (response) {
                            console.log("1")
                            if (response.TinhTrangGiaoHang == true) {

                                location.reload();
                            }
                        }
                    })
                })
            }
        }
        order.init();
    }
</script>
