@using Store.Models.DAO;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CartItem>

<div class="single">
    <div class="single_grid">
        <h3>Giỏ Hàng</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Tên Sản Phẩm</td>
                    <td></td>
                    <td>Phiên Bản</td>
                    <td>Giá</td>
                    <td>Số Lượng</td>
                    <td>Thành Tiền</td>
                    <td></td>
                </tr>
            </thead>

                @foreach (var item in Model)
                {
                    
                    
                        <tr>
                            <td>@item.tensp</td>
                            <td><img style="width:15%" src=@Url.Content("~/assets/Client/Product_Images/"+item.hinhanh)></td>
                            <td>@item.cauhinh</td>
                            <td>@item.dongia.ToString("#,##")</td>
                            <td>@item.soluong</td>
                            <td>@item.thanhtien.ToString("#,##")</td>
                            <td>@Html.ActionLink("Cập nhật","UpdateCart", new {@id=item.masp, @cfid=item.mach })<td>
                        </tr>
                    

                }

            </table>
        <div class="clearfix"></div>
    </div>
</div>

